@tailwind base;
@tailwind components;
@tailwind utilities;

.poke-card {
  background: white;
  box-shadow: 0px 0px 8px rgba(34, 154, 241, 0.5);
  border-radius: 16px;
  width: 360px;
  height: 360px;
  padding: 68px 40px;
  flex: none;
  flex-grow: 0;
}
